[submodule "UNIXNetworkProgramming"]
	path = UNIXNetworkProgramming
	url = https://github.com/HEtinto/unpv13e.git
[submodule "linux-list"]
	path = linux-list
	url = https://github.com/sysprog21/linux-list.git
